@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: url(/img/background.jpg) no-repeat;
	background-size: cover;
	color: white;
	font-family: "Roboto Condensed", sans-serif;
}

 /*https://hype4.academy/tools/glassmorphism-generator*/
.login-form { 
	background: rgba(0, 0, 0, 0.4);
	box-shadow: 0 18px 32px 0 rgba(0, 0, 0, 0.37);
	backdrop-filter: blur(10.5px);
	-webkit-backdrop-filter: blur(10.5px);
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.18);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 500px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

input[type="email"],
input[type="password"] {
	border: none;
	border-bottom: 2px solid #333333;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	outline: none;
}

button[type="submit"] {
	background-color: #000000ea;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 20px;
	transition: background-color 0.3s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}

button[type="submit"]:hover {
	background-color: #ffffff;
	color: #333333;
}

p {
	font-size: 30px;
	font-family: "Bebas Neue", cursive;
	margin-bottom: 10px;
	letter-spacing: 4px;
}
